<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<radioinfo>
		<name>RADIO KAIRALI FM</name>
		<slogan>Al Cienon!</slogan>
		<radio_logo>https://radioonlinehd.s3.us-east-1.amazonaws.com/apps/externo/lasuperxradio/Logo+512.png</radio_logo>
		<streamurl>http://usa16.fastcast4u.com:24110</streamurl>
		<whatsapplink>https://api.whatsapp.com/send?phone=17372973446</whatsapplink>
		<facebook_link>https://www.facebook.com/LasuperXRadioAlcienon</facebook_link>
		<facebook_id>102826692041871</facebook_id>
		
		<paragraphbold1>Información</paragraphbold1>
		<paragraph1>La Super X Radio, കൈരളി con base en Texas, Estados Unidos, lleva tres años programando y complaciendo a su audiencia con los mejores éxitos de la música regional mexicana. Con locutores en vivo todo el día, concursos y mucha interacción diaria con el público, se ha colocado como una de las radios favoritas tanto en Estados Unidos como en México. 
		
		</paragraph1>
		<paragraph2>Disfruta കൈരളി de nuestra programación 24/7</paragraph2>
		
		<privacy>https://radioonlinehd.com.gt/privacy</privacy>
		
		
</radioinfo>
</rss>